/*
@name: main.css
@description: index.html main style
@require: reset.css
@author: xuyanan(xuyanan@vcyber.com)
*/
/*顶部菜单栏*/
.header{
  float: left;
  width: 100px;
  font-size: 14px;
  line-height: normal;
  color: #fff;
  background: #aabbcc;
}

/*导航区样式*/
.nav-wrap{
  /*todo 导航区样式*/
}
