<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cookie分析</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<!--
demo学习参考资料网址.
http://www.cnblogs.com/lyzg/p/6067766.html
http://www.cnblogs.com/swing07/p/5715824.html
-->

<button class="btn btn-info" id="btn1">发送Ajax请求</button>
<form action="">
    <div class="form-group">
        <label for="cookie-name">cookie name:</label>
        <input type="text" class="form-control" id="cookie-name" placeholder="cookie name">
    </div>
    <div class="form-group">
        <label for="cookie-value">cookie value:</label>
        <input type="text" class="form-control" id="cookie-value" placeholder="cookie value">
    </div>
</form>
<button  class="btn btn-primary" id="add-cookie">添加cookie</button>
<button  class="btn btn-primary" id="query-cookie">查询cookie</button>
<button  class="btn btn-primary" id="query-all-cookie">查询全部cookie</button>
<button  class="btn btn-primary" id="del-cookie">删除cookie</button>
<div id="all-cookie-show"></div>
<script type="text/html" id="all-cookie-show-template">
    <table class="table table-bordered">
        <tr>
            <td colspan="3">全部cookie</td>
        </tr>
        <tr>
            <td>#</td>
            <td>CookieName</td>
            <td>cookieValue</td>
        </tr>
        <% var count=1; %>
        <% for(var key in result){ %>
        <tr>
            <td><%=(count++) %></td>
            <td><%=key%></td>
            <td><%=result[key]%></td>
        </tr>
        <% } %>
    </table>
</script>
<button class="btn btn-info">添加cookie</button>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="template-web.js"></script>
<script src="cookie.js"></script>
<script>
    $(function () {
        var requestURL = "http://local.git.com/demo/cookie/server.php";
//        var requestURL = "http://local2.git.com/demo/cookie/server.php";
//        var requestURL = "http://local3.git.com/demo/cookie/server.php";

        $.ajax({
//            url: "./server.php",
//        url:"http://local.git.com/demo/cookie/server.php",
            url: requestURL,
            data: {
                name: "local user",
                age: "18"
            },
            dataType: "json",
            success: function (response) {
                console.log("--success--");
                console.log(typeof response);
                console.log(response);
                console.log("----");
            },
            error: function (xhr, textStatus, thrownMsg) {
                console.log("--error--");
                console.log(xhr);
                console.log(textStatus);
                console.log(thrownMsg);
                console.log("----");
            },
            complete: function (xhr) {
                console.log("--conplete--");
            }
        });
        $("#btn1").on("click", function (event) {
            requestServer({
                url: requestURL,
                data: {
                    "name": "测试",
                    "sex": "man"
                }
            }, function (response) {
                console.log(response);
            })
        });

        function requestServer(options, success, error, complete) {
            var params = $.extend({
                dataType: "json"
            }, options, {
                success: success,
                error: error,
                complete: complete
            });
            return $.ajax(params);
        }

        //cookie操作
        $("#add-cookie").on("click", function () {
            var cookie_name = $("#cookie-name").val();
            var cookie_value = $("#cookie-value").val();
            cookie_method.set(cookie_name, cookie_value, 1);
            return false;
        });
        $("#query-all-cookie").on("click", function () {
            var result = cookie_method.getAll();
            console.log(result,result.length);
            if (!$.isEmptyObject(result)) {
                var html = template("all-cookie-show-template", {
                    result: result
                });
                console.log(html);
                $("#all-cookie-show").html(html);
            }
            return false;
        });

    });
</script>
</body>
</html>